@font-face {
    font-family:'RWGemoRegular';
    src:url(../font/RWGemo-Regular.eot) format('eot'), /* IE9 Compat Modes */
        url(../font/RWGemo-Regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
        url(../font/RWGemo-Regular.woff2) format('woff2'), /* Super Modern Browsers */
        url(../font/RWGemo-Regular.woff) format('woff'), /* Pretty Modern Browsers */
        url(../font/RWGemo-Regular.woff) format("opentype");
}
html, body{
    margin:0 auto;
}
#map_canvas {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: -200px;
    left: 0;
    right: 0;
    z-index: 0;
}
#container {
    z-index: 100;
    position: relative;
}
#container .typing_box {
    z-index:120;
    float:right;
}
.top_bars{
    height:70px;
    background-color:#FFFFFF;
    border-bottom:1px solid #000000;
    padding-left:25px;
}
.ti_wrapper {
    height:60px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.ti_slide {
    width: 30000px;
    position: relative;
    left: 0;
    top: 0;
}
.ti_content {
    width: 8000px;
    position: relative;
    float: left;
    padding-top:8px;
}
.ti_news { float: left;}
.poster_info {
    width:350px;
    padding-left:125px;
    padding-bottom:25px;
    position:absolute;
}
.poster_info .poster {
    border-top:1px solid #000000;
    border-left:1px solid #000000;
    border-right:1px solid #000000;
}
.poster_info .poster img.hide{
    display:none;
}
.poster_info .poster .prev {
    position: absolute;
    /*top: 30%;*/
    padding-left: 10px;
}
.poster_info .poster .next {
    position: absolute;
    /*top: 30%;*/
    margin-left:320px;
}
.poster_info .info {
    background-color:#FFFFFF;
    padding:12px;
    border:1px solid #000000;
}
.poster_info .info .placename {
    line-height:17px;
    font-size:12px;
    font-weight:bold;
}
.poster_info .info .address {
    line-height:17px;
    font-size:12px;
    font-weight:bold;
}
.poster_info .info .writer {
    line-height:17px;
    font-size:12px;
}
.poster_info .info .date {
    line-height:17px;
    font-size:12px;
}
.emoji {
    position:absolute;
    width:50px;
    height:50px;
    z-index:110;
}
.recent_work_textarea {
    font-family:RWGemoRegular;
    font-size:48px;
    border:0;
}